/* general styles */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.tribute-page {
    margin: -22px 1vw;
    background-color: #58a6a073;
    text-align: center;
}

/* intro styles */

.main-title {
    padding-top: 15px;
    font-size: 5vw;
}

.sub-title {
    font-size: 18px;
    margin-top: -30px;
    text-transform: capitalize;
}

.intro-img img {
    width: 90vw;
    border: 15px solid white;
    border-bottom: 50px solid white;
}

#img-caption {
    font-size: 18px;
    margin: -40px 0;
}

/* tribute details */

#tribute-info {
    margin: 90px auto 0;
}

#tribute-info h2 {
    text-transform: capitalize;
}

.detail {
    width: 35vw;
    margin: auto;
    text-align: left;
    line-height: 1.5;
    font-size: 18px;
}

.detail ul {
    list-style-type: square;
}

.detail ul li {
    margin-bottom: 20px;
}

/* quote style---- */

#quote {
    font-family: serif;
    width: 20vw;
    margin: 80px auto 0;
    position: relative;
    font-size: 18px;
    font-style: italic;
}

#quote span {
    font-weight: bold;
}

#quote:before {
    content: "“";
    font-size: 150px;
    position: absolute;
    bottom: -30px;
    left: -70px;
}

footer {
    margin: 50px auto 0;
    background-color: #000;
    color: white;
}

footer ul {
    padding: 50px 0;
    list-style: none;
}

footer ul li:last-child {
    font-weight: bold;
    margin-top: 15px;
}

footer a {
    color: royalblue;
}

footer span {
    color: palevioletred;
}

/* mobile styles------- */

@media screen and (max-width: 800px) {
    .main-title {
        padding-top: 30px;
        font-family: serif;
        font-size: 2.5rem;
    }

    .sub-title {
        margin-top: -17px;
    }

    .intro-img img {
        width: 93vw;
        border: 4px solid white;
        border-bottom: 63px solid white;
    }

    #img-caption {
        margin: -53px 0;
        padding: 0 5px;
    }

    #quote::before {
        bottom: 0;
    }
}


@media screen and (max-width:550px) {
    .detail {
        width: 50vw;
    }

    #quote {
        width: 50vw;
    }

    footer {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width:300px) {
    .intro-img img {
        border-bottom: 78px solid white;
    }

    #img-caption {
        margin-top: -70px;
    }

    #quote {
        width: 60vw;
    }
}
